{%  extends "base.html" %}

{% block content %}
   <body>

      <h1>Shredder App</h1>

      {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}

      <form action = "" method = post>
         <dl>
            <dt>Username:</dt>

            <dd>
               <input type = text name = username
                  value = "{{request.form.username }}">
            </dd>

            <dt>Password:</dt>
            <dd><input type = password name = password></dd>
         </dl>
         <p><input type = submit value = Login></p>
      </form>

      <p>New user? Register <a href = "{{ url_for('register')}}">
         <b>here</b></a></p>

   </body>
{% endblock %}
