{%  extends "base.html" %}

{% block content %}

    <div id="main">

				<h1>Resources</h1>



				<h2>Chest/Back Day</h2>

<ul>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XZfsqdCOiTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <p>&nbsp;</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/7nRZxraWbpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>&nbsp;</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wvVU6P5LkCQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     <p>&nbsp;</p>
    <li><a href="https://stronglifts.com/dips/#gref" target="_blank">Tips For Proper Dips</a></li>
    <p>&nbsp;</p>
    <li><a href="https://www.builtlean.com/2013/11/04/lat-pulldown/" target="_blank">Technique For the Lateral Pulldown</a></li>
    <p>&nbsp;</p>
    <li><a href="https://www.livestrong.com/article/538295-how-to-do-a-dumbbell-rear-delt-fly/" target="_blank">How To Do The Rear Fly</a></li>
</ul>
<p>&nbsp;</p>
<h2>Arm Day</h2>
<ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uO_CNYidOw0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <p>&nbsp;</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ln7BRerhfMU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <p>&nbsp;</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nRiJVZDpdL0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <p>&nbsp;</p>
    <li><a href="https://www.coachmag.co.uk/exercises/shoulder-exercises/206/lateral-raises-–-how-do-them-and-why-you-should" target="_blank">Lateral Raise: The Right Way</a></li>
    <p>&nbsp;</p>
    <li><a href="https://www.bodybuilding.com/exercises/dumbbell-shrug" target="_blank">Lateral Raise: The Right Way</a></li>
    <p>&nbsp;</p>
</ul>

<h2>Core Day</h2>
<ul>
    <li><a href="http://www.fitbodyhq.com/fitness/get-better-results-with-activation-exercises/" target="_blank">Core Activations</a></li>
    <p>&nbsp;</p>
</ul>
<h2>Leg Day</h2>
        <ul>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QOVaHwm-Q6U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <p>&nbsp;</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dkeweUb_Nd4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  <p>&nbsp;</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/iV_DFZSmhJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <p>&nbsp;</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZHlBSI6JPsA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <p>&nbsp;</p>
    <li><a href="http://www.fitnessuncovered.co.uk/weight-training-exercises/legs/hip-abductor-machine" target="_blank">Hip Abduction</a></li><p>&nbsp;</p>
    <li><a href="https://www.verywellfit.com/how-to-do-the-leg-press-3498610" target="_blank">Safely Use the Leg Press</a></li>
    <p>&nbsp;</p>
    </ul>

			</div>

{% endblock %}
